tibco.bwce.sample.binding.rest.BookStore/Service Descriptors/BooksDBService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:tns="http://xmlns.example.com/20140929140236"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="BooksDBService" targetNamespace="http://xmlns.example.com/20140929140236">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://xmlns.example.com/20140929140236">
			<xsd:complexType name="DBBook">
				<xsd:sequence>
					<xsd:element name="isbn" type="xsd:string"
						minOccurs="0" maxOccurs="1" />
					<xsd:element name="name" type="xsd:string"
						minOccurs="0" maxOccurs="1" />
					<xsd:element name="description" type="xsd:string"
						minOccurs="0" maxOccurs="1" />
					<xsd:element name="authorName" type="xsd:string"
						minOccurs="0" maxOccurs="1" />
					<xsd:element name="releaseYear" type="xsd:int"
						minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="DBBook" type="tns:DBBook"></xsd:element>
			<xsd:element name="DBBooks">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Books" type="tns:DBBook"
							minOccurs="0" maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DBBookUpdate">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ISBN" type="xsd:string"
							minOccurs="1" maxOccurs="1" />
						<xsd:element name="Book" type="tns:DBBook"
							minOccurs="1" maxOccurs="1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DBBookCount">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="count" type="xsd:int"
							minOccurs="1" maxOccurs="1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ISBN">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ISBN" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="addBooksFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="fault" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="addBooksRequest">
		<wsdl:part element="tns:DBBooks" name="parameters" />
	</wsdl:message>
	<wsdl:message name="addBooksResponse">
		<wsdl:part element="tns:DBBookCount" name="parameters" />
	</wsdl:message>
	<wsdl:message name="addBooksFault">
		<wsdl:part element="tns:addBooksFault" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getAllBooksRequest">
		<wsdl:part element="tns:DBBookCount" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getAllBooksResponse">
		<wsdl:part element="tns:DBBooks" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getBookByISBNRequest">
		<wsdl:part element="tns:ISBN" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getBookByISBNResponse">
		<wsdl:part element="tns:DBBooks" name="parameters" />
	</wsdl:message>
	<wsdl:message name="updateBookRequest">
		<wsdl:part element="tns:DBBookUpdate" name="parameters" />
	</wsdl:message>
	<wsdl:message name="updateBookResponse">
		<wsdl:part element="tns:DBBookCount" name="parameters" />
	</wsdl:message>
	<wsdl:message name="deleteBookRequest">
		<wsdl:part element="tns:ISBN" name="parameters" />
	</wsdl:message>
	<wsdl:message name="deleteBookResponse">
		<wsdl:part element="tns:DBBookCount" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getAllBooksRequest1">
		<wsdl:part name="parameters" element="tns:DBBookCount"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="BooksDB">
		<wsdl:operation name="addBooks">
			<wsdl:input message="tns:addBooksRequest" name="operationInput" />
			<wsdl:output message="tns:addBooksResponse" name="operationOutput" />
		</wsdl:operation>
		<wsdl:operation name="getAllBooks">
            <wsdl:input message="tns:getAllBooksRequest" name="operationInput0" />
            <wsdl:output message="tns:getAllBooksResponse" name="operationOutput0" />
		</wsdl:operation>
		<wsdl:operation name="getBookByISBN">
			<wsdl:input message="tns:getBookByISBNRequest" name="operationInput1" />
			<wsdl:output message="tns:getBookByISBNResponse" name="operationOutput1" />
		</wsdl:operation>
		<wsdl:operation name="updateBook">
			<wsdl:input message="tns:updateBookRequest" name="operationInput2" />
			<wsdl:output message="tns:updateBookResponse" name="operationOutput2" />
		</wsdl:operation>
		<wsdl:operation name="deleteBook">
			<wsdl:input message="tns:deleteBookRequest" name="operationInput3" />
			<wsdl:output message="tns:deleteBookResponse" name="operationOutput3" />
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
